body {
    background-color: #f8f9fa;
    padding-top: 50px;
  }
  
  .container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
  
  .resultado {
    margin-top: 20px;
  }
  
  .resultado h4 {
    color: #343a40;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .result-container {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
  }
  
  .result-container p {
    font-size: 24px;
    color: #343a40;
    margin: 0;
    text-align: center;
  }
  
  .select-wrapper {
    position: relative;
  }
  
  .select-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border-width: 8px 6px 0;
    border-color: #343a40 transparent transparent;
    border-style: solid;
    pointer-events: none;
  }
  